@model WebApplication6.Models.Haircut

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Haircut</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaircutImage)
        </dt>
        <dd class = "col-sm-10">
           <img src="~/images/@Model.ImageUrl" class="rounded-circle"   
                         height="200" width="200"   
                         asp-append-version="true"/> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackImage)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Model.BackImageUrl" class="rounded-circle"   
                         height="200" width="200"   
                         asp-append-version="true"/> 
        </dd>
    </dl>
</div>
<div>
     @if (User.IsInRole("admin")) {
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a asp-action="Index">Back to List for admin</a>
     }
    <a asp-action="List">Back to List</a>
</div>
